<!-- <form [formGroup]="mainGroup">
  <todos formControlName="todoList"></todos>
  <todos formControlName="anotherTodoList"></todos>
</form> -->

<div fxLayout="row" fxLayoutAlign="center center"> 
  <span>Login Page</span>
</div>

<div *ngIf="validate">
  <!-- If want to add touched in the form must to add custom input event has blur event -->
  <span *ngIf="loginForm.get('username') && !loginForm.get('username')">Enter Username</span>
</div>

<form fxLayout="column" fxLayoutGap="10px" [formGroup]="loginForm">

  <label>Username</label>
  <custom-input formControlName='username' fxFlex="100" placeholder="name" ></custom-input>

  <label>Password</label>
  <custom-input  formControlName='password' fxFlex="100"></custom-input>

</form><br>

<div fxLayout="row" fxLayoutAlign="end end">
  <button (click)="submit()">Submit</button>
</div>
